:root {
   --first-background-color: #fff;
}

body {
   display: block;
   overflow: auto;
   background-image: url('default-background.jpg');
   background-position: center;
   background-size: fill;
   user-select: none;
   margin: 0;
   height: 100vh;
   padding-top: 1em;
   box-sizing: border-box;
}

code {
   font-weight: 600;
   padding: 3px 5px;
   border-radius: 2px;
   font-family:
      ui-monospace,
      SFMono-Regular,
      SF Mono,
      Menlo,
      Consolas,
      Liberation Mono,
      monospace;
   font-size: 85%;
}
