:root {
   --first-background-color: #fff;
}
@font-face {
   font-family: 'Marhey';
   src: url('./fonts/Gluten-VariableFont.woff2') format('woff2-variations');
   font-weight: 100 900;
   font-display: swap;
}
h1 {
   font-family: 'Marhey';
   font-variation-settings:
      'wght' 545,
      'slnt' -5;
}

body {
   display: block;
   overflow: auto;
   background-image: url('default-background.jpg');
   background-position: center;
   background-size: fill;
   user-select: none;
   margin: 0;
   height: 100vh;
   padding-top: 1em;
   box-sizing: border-box;
}
