:root {
   --first-background-color: #fff;
}
@font-face {
   font-family: 'Marhey';
   src: url('./fonts/Gluten-VariableFont.woff2') format('woff2-variations');
   font-weight: 100 900;
   font-display: swap;
}
h1 {
   font-family: 'Marhey';
   font-variation-settings:
      'wght' 545,
      'slnt' -5;
}
h2,
h3,
h4 {
   font-family: 'Marhey';
   font-variation-settings:
      'wght' 500,
      'slnt' -5;
}
input,
label {
   font-family: 'Marhey';
   font-variation-settings:
      'wght' 400,
      'slnt' 0;
}

body {
   display: block;
   overflow: auto;
   background-image: url('default-background.jpg');
   background-position: center;
   background-size: fill;
   user-select: none;
   margin: 0;
   height: 100vh;
   padding-top: 1em;
   box-sizing: border-box;
}
/* Estilo para navegadores Webkit (Chrome, Safari) */
::-webkit-scrollbar {
   width: 11px; /* Ancho de la barra */
   height: 10px;
}

::-webkit-scrollbar-track {
   background: #f6fff0; /* Color de fondo de la barra */
   border-radius: 10px; /* Esquinas redondeadas */
}

::-webkit-scrollbar-thumb {
   background: #26cdd7; /* Color de la parte móvil de la barra */
   border-radius: 10px; /* Esquinas redondeadas */
}
