.frame-container {
   position: fixed;
   top: 1em;
   right: 1em;
   transition: opacity 1s;
   & > button {
      height: auto;
      width: auto;
      height: 2.5em;
      background-color: transparent;
      border: 0;

      & > img {
         height: 100%;
         width: auto;
      }
      & > img:hover {
         cursor: pointer;
      }
   }
}

@media (width<500px) {
   .frame-container {
      opacity: 0.5;
   }
}
