.page {
   display: flex;
   justify-content: center;
}
.content {
   margin: 0 1em;
   width: 100%;
   max-width: 980px;
}
h1 {
   text-align: center;
}
.allHotKeys {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(10em, 15rem));
   justify-content: center;
   gap: 2em;
   & > P:nth-child(1) {
      text-align: center;
   }
}
