.labelInputKeyboard {
   display: block;
   margin-bottom: 0.5em;
}
.inputText {
   font-family: 'Marhey';
   font-variation-settings:
      'wght' 400,
      'slnt' 0;
   display: block;
   background-color: #ffffff43;
   color: rgb(0, 0, 0);
   border: 0.2em solid #ffffff;
   padding: 10px;
   border-radius: 5px;
   font-size: 16px;
   cursor: pointer;
   min-height: 2.41359375em;
   min-width: 20dvw;
   & > .plus {
      font-variation-settings:
         'wght' 200,
         'slnt' 0;
      color: hsl(50, 60%, 40%);
   }
}
.inputText:user-invalid {
   display: block;

   border-color: red;
}
.emergedWindows {
   display: block;
   border-radius: 1em;
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 1;
   margin: auto;
   padding: 1em;
   max-height: 90vh;
   width: 95vw;
   background-color: #ffffffac;
   backdrop-filter: blur(7px);
   overflow-y: auto;
}
.button {
   display: block;
   font-family: 'Marhey';
   font-variation-settings:
      'wght' 545,
      'slnt' -5;

   background-color: transparent;
   border: 0.3em solid #fff;
   width: 3em;
   border-radius: 100%;
   aspect-ratio: 1/1;
   margin-bottom: 2em;
   &:hover {
      cursor: pointer;
      background-color: #ffffff98;
   }
}
